<!DOCTYPE html> 
<!--[if lt IE 7 ]> <html class="no-js ie6 {{ env }}" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 {{ env }}" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 {{ env }}" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js {{ env }}" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  {% block title %}<title>Share and Let Share</title>{% endblock %}
  <link rel="shortcut icon" href="/media/assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/media/assets/css/style.css" type="text/css" media="screen,projection" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="container">
    <header class="header clearfix">
      <hgroup>
        <h1 class="logo"><a rel="start" href="http://www.debjitbiswas.com">Share <span class="amp">&</span> let Share</a></h1>
        <h2 class="quote">Personal Weblog of Debjit Biswas...</h2>
      </hgroup>
    </header>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    <aside id="sidebar">
      <nav class="nav">
        <header>
          <h1>Navigation</h1>
        </header>
        <ul>
          <li><a class="homeLink" href="/">Home</a></li>
          <li><a class="galleryLink" href="#" rel="#comingsoon">Gallery</a></li>
        </ul>
      </nav>
      <section class="subscribe">
        <header>
          <h1>Subscribe</h1>
        </header>
        <a type="application/rss+xml" href="/latest/feed" rel="alternate">RSS</a>
      </section>
      <section id="twitterbadge">
        <h1>
          <a href="http://twitter.com/debjitbis08">Follow me on twitter: @debjitbis08</a>
        </h1>
        {% if tweet %}
          <ol>
            {% for tw in tweet %}
              <li>
                {{ tw.text|urlize }}
              </li>
            {% endfor %}
          </ol>
        {% endif %}
      </section>
      <section id="poweredby">
        <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite100x25_grey.gif" alt="A Django site." title="A Django site." /></a>
      </section>
    </aside>
    <div class="clearleft"></div>
    <footer class="clearfix" id="global-footer">
      <p>Except where otherwise noted, this work by <b>Debjit Biswas</b> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/in/">Creative Commons Attribution-Share Alike 2.5 License</a>.</p>  
    </footer>
  </div>

  <!-- Coming Soon Overlay -->
  <div id="comingsoon">
    <div class="top"><div class="close">Close</div></div>
    <div class="middle">
      <img src="/media/assets/gallery.png" />
      <div class="message"> Coming Soon... </div>
    </div>
    <div class="bottom"></div>
  </div>

  <script type="text/javascript">
    (function () {
      var cjsscript = document.createElement('script');
      cjsscript.src = "/media/assets/js/control.js";
      var cjssib = document.getElementsByTagName('script')[0];
      cjssib.parentNode.insertBefore(cjsscript, cjssib);
    }());
  </script>
  <script type="text/cjs" data-cjssrc="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/cjs" data-cjssrc="/media/assets/js/jquery.tools.min.js"></script>
  <script type="text/cjs" data-cjssrc="/media/assets/js/base.js"></script>
  <script type="text/cjs" data-cjssrc="//www.hellobar.com/hellobar.js"></script>
  <script type="text/javascript">var addthis_config = {"data_track_clikback":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=debjitbis08"></script>
  <script type="text/cjs">
    new HelloBar(14447,10118);
  </script>
  <noscript>
    Help The Victims of the 8.9 Earthquake in Japan by Spreading Awareness and Aid. <a href="http://goo.gl/wjZQz">Donate</a>
  </noscript>
  {% if env == 'BASE' %}
  <script type="text/cjs">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12282646-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}
</body>
</html>
