<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="{{ env }}">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  {% block title %}<title>Share and Let Share</title>{% endblock %}
  <link rel="shortcut icon" href="/media/assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/media/assets/css/style.css" type="text/css" media="screen,projection" />
</head>
<body>
  <div id="container">
    <div class="header">
      <div class="logo"><a href="/">Share and let Share</a></div>
      <div class="quote">Personal Weblog of Debjit Biswas...</div>
    <div style="clear: both"></div>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
      <div class="nav">
        <h3>Navigation</h3>
        <ul>
          <li><a class="homeLink" href="/">Home</a></li>
          <li><a class="galleryLink" href="/gallery" rel="#comingsoon">Gallery</a></li>
          <li style="display:none;"><a href="/about">About Me</a></li>
        </ul>
      </div>
      <div class="subscribe">
        <h3>Subscribe</h3>
        <a href="/latest/feed">RSS</a>
      </div>
      <div id="poweredby">
        <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite100x25_grey.gif" border="0" alt="A Django site." title="A Django site." /></a>
      </div>
    </div>
    <div class="clearleft"></div>
    <div id="footer">
      <p>Except where otherwise noted, this work by <b>Debjit Biswas</b> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/2.5/in/">Creative Commons Attribution-Share Alike 2.5 License</a>.</p>  
    </div>
  </div>

  <!-- Coming Soon Overlay -->
  <div id="comingsoon">
    <div class="top"><div class="close">Close</div></div>
    <div class="middle">
      <img src="/media/assets/gallery.png" />
      <div class="message"> Coming Soon... </div>
    </div>
    <div class="bottom"></div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="/media/assets/js/jquery.tools.min.js"></script>
  <script src="/media/assets/js/base.js" type="text/javascript"></script>
  {% if env == 'BASE' %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12282646-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}
</body>
</html>
