{% extends "blog/base.html" %}
{% load comments %}
{% block content %}

{% if object_list %}
  {% for entry in object_list %}
    <div class="entry">
      <h2 class="title"><a href="{% url entry entry.id %}">{{ entry.title }}</a></h2>
      <div class="body summary">
        {% autoescape off %}
          {{ entry.body_text|truncatewords_html:50 }}
        {% endautoescape %}     
      </div>
      {% comment %}
      <div class="comments">
        <p>
        {% get_comment_count for entry as comment_count %}
        <a href="{% url entry entry.id %}#comments"><div class="commentNum">{{ comment_count }} <span style="font-size: 11px;">Comments</span></div></a>
        </p>
      </div>
      {% endcomment %}
      <div class="metaData">
        <span class="ncomments">
          {% get_comment_count for entry as comment_count %}
          <a href="{% url entry entry.id %}#comments"><span class="commentNum">{{ comment_count }} Comments</span></a>
        </span>//
        <span class="date">{{ entry.pub_date|date:"D, d M Y"}}</span>//
        <span class="readMore">
          <a href="{% url entry entry.id %}" title="Read More" >Read More &rarr;</a>
        </span>
      </div>
      <div style="clear: both;"></div>
    </div>
  {% endfor %}
  {% if is_paginated %}
    <p class="pagination">
      {% if has_next %}
        <a class="older" href="/page/{{ next }}">&larr; Older</a>
      {% endif %}
      {% if has_previous %}
        <a class="newer" href="/page/{{ previous }}">Newer &rarr;</a>
      {% endif %}
    </p>
  {% endif %}
{% else %}
  <p>No Blog entries yet...</p>
{% endif %}

{% endblock %}
