{% extends "blog/base.html" %}

{% block title %}{{ block.super }} | Entries in {{ month|date:"F, Y" }}{% endblock %}

{% block content %}

{% if entry_list %}
  <header id="log">
    <h1>Entries during month of {{ month|date:"F" }} in {{ month.year }}</h1>
  </header>
  {% for entry in entry_list %}
    {% include "blog/includes/entry_list.html" %}
  {% endfor %}
  {% if page_obj.has_other_pages %}
    <nav class="pagination">
      {% if page_obj.has_next %}
        <a title="Older Posts" rel="prev" class="older" href="/page/{{ page_obj.next_page_number }}">&larr; Older</a>
      {% endif %}
      {% if page_obj.has_previous %}
        <a title="Newer Posts" rel="next" class="newer" href="/page/{{ page_obj.previous_page_number }}">Newer &rarr;</a>
      {% endif %}
    </nav>
  {% endif %}
{% else %}
  <p>No Blog entries yet...</p>
{% endif %}

{% endblock %}
