{% extends "blog/base.html" %}
{% load markup %}
{% block title %}<title>Share and Let Share | {{ entry.title }}</title>{% endblock %}
{% load comments %}
{% block content %}
  <article class="entry">
    <header>
      <h1 class="title">{{ entry.title }}</h1>
    </header>
    <footer class="pubDate"> 
      <time datetime="{{ entry.pub_date|date:"Y-m-d"}}" pubdate="pubdate">
        {{ entry.pub_date|date:"D, d M Y"}}
      </time>- {{ entry.author.name }}
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_googlebuzz"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_print"></a>
        <a class="addthis_button_compact"></a>
      </div>
      <!-- AddThis Button END -->
    </footer>
    <div class="body">
    {% autoescape off %}
      {{ entry.body_text }}
    {% endautoescape %}
    </div>
    <footer class="tags clearfix">
      <span>Tagged to</span>
      <ul class="clearfix">
        {% for tag in entry.tags.all %}
          <li><a href="/tags/{{tag.slug}}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </footer>
  </article>
  <section class="commentarea"> 
    <section id="comments" class="commentlist">
      <h1 class="reply">
        {% get_comment_count for entry as comment_count %}
        {{ comment_count }} Comment(s)
      </h1>
      <a id="comment-subscribe-email" href="/entry/{{entry.id}}/subscribe" title="Subscribe to comments by email">
        Subscribe by email
      </a>
      <a id="comment-form-link" href="#commentform" title="Post your comment">
        Post a comment
      </a>
      {% get_comment_list for entry as comment_list %}
      <ol>
        {% for comment in comment_list %}
        <li id="c{{ comment.id }}" class="comment {% cycle 'odd' 'even' %} clearfix">
          <div class="left">
            <span class="author">
              {% if comment.user_url %}
                <a href="{{ comment.user_url }}"><cite>{{ comment.user_name }}</cite></a></span>
              {% else %}
                <cite>{{ comment.user_name }}</cite></span>
              {% endif %}
            <span class="metadata">{{ comment.submit_date|date:"M, d Y" }}</span>
          </div>
          <div class="right">
            <div class="body"><blockquote>{{ comment.comment|force_escape|markdown }}</blockquote></div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </section>
    
    <section id="commentform">
      <h1>Post Your Comment</h1>
      {% render_comment_form for entry %}   
    </section>
  </section>  
{% endblock %}
