{% extends "blog/base.html" %}
{% load comments %}
{% block content %}

{% if entry_list %}
  <header id="log">
    <h1>Log</h1>
  </header>
  {% for entry in entry_list %}
    <article class="entry">
      <header>
        <h1 class="title"><a rel="bookmark" href="{% url entry entry.slug %}">{{ entry.title }}</a></h1>
      </header>
      <div class="body summary">
        {% autoescape off %}
          {{ entry.body_text|truncatewords_html:50 }}
        {% endautoescape %}     
      </div>
      <footer class="metaData">
        <span class="ncomments">
          {% get_comment_count for entry as comment_count %}
          <a href="{% url entry entry.slug %}#comments"><span class="commentNum">{{ comment_count }} Comments</span></a>
        </span>//
        <time class="date" datetime="{{ entry.pub_date|date:"Y-m-d"}}" pubdate="pubdate">
          {{ entry.pub_date|date:"D, d M Y"}}
        </time>//
        <span class="readMore">
          <a href="{% url entry entry.slug %}" title="Read More" >Read More &rarr;</a>
        </span>
      </footer>
      <div style="clear: both;"></div>
    </article>
  {% endfor %}
  {% if page_obj.has_other_pages %}
    <nav class="pagination">
      {% if page_obj.has_next %}
        <a title="Older Posts" rel="prev" class="older" href="/page/{{ page_obj.next_page_number }}">&larr; Older</a>
      {% endif %}
      {% if page_obj.has_previous %}
        <a title="Newer Posts" rel="next" class="newer" href="/page/{{ page_obj.previous_page_number }}">Newer &rarr;</a>
      {% endif %}
    </nav>
  {% endif %}
{% else %}
  <p>No Blog entries yet...</p>
{% endif %}

{% endblock %}
